
@import 'variaveis';

*{
    margin: 0;
    padding: 0; 
}


header{
    text-align: center;
    color: $cor-das-letras;
    font-size: 70px;

}

#Fundo-1{
    background-image: url(../img/zm2zfxjmTtO9wDaf5IfetQ.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:"Inter", sans-serif;
    background-position: center;

}

#principal{
    display: flex;
    align-items: center;
    font-family:"Inter", sans-serif;

    
    .texto-1{
        color: $cor-das-letras;    
        
        h2{ 

            text-align: center;
            font-size: 60px;
            font-weight: bolder;
            
        }

        display: flex;
        flex-direction: column;
    }
}

#filmes{   


    background-image: url(../img/rZazNeuCTWGW8wnPYSa8LA.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:"Inter", sans-serif;
    color: $cor-das-letras;


    h1{
        padding-top: 300px;
        text-align: center;
        font-size: 60px;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: center;
        font-size: 20px;
    }

    .amostras {
        display: flex;
        align-items: center; 
        justify-content: center; 
        height: 200px; 
        gap: 30px;
        padding-top: 300px;
        padding-bottom: 300px;
  
        
    .filme1 img{
        max-width: 200px;
    }

    
    .filme2 img{
        max-width: 200px;
    }
    
    .filme3 img{
        max-width: 200px;
    }

    }



}